@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --color-0: #FFF;
   --color-1: #1D1B1B;
   --color-2: #3A3389;
   --color-3: #6E796D;
   --GRADIENT: linear-gradient(to left top, var(--color-3), var(--color-2));
}

* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Montserrat", sans-serif;
}

a {
   text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
   font-family: "Merriweather Sans", sans-serif;
}

header {
   background: var(--color-0);
   padding:  .8rem 8%;
   border: 1px solid blue;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}



.nav-items {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.nav-links {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2.4rem;
}

.nav-links a {
   display: flex;
   align-items: center;
   font-family: "Merriweather Sans", sans-serif;
   font-size: 1.1rem;
   color: var(--color-1);
}

.nav-btn {
   background: var(--GRADIENT);
   color: var(--color-0);
   border-radius: 4px;
   padding: .5rem 1.2rem;
   font-size: 1rem;
   border: none;
}