@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-0: #fff;
  --color-1: #363232;
  --color-2: #3a3389;
  --color-3: #6e796d;
  --color-4: #d9ddd8;
  --color-5: #f7f3f3;
  --GRADIENT: linear-gradient(to left top, var(--color-2), var(--color-4));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  color: var(--color-1);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-1);
  font-family: "Merriweather Sans", sans-serif;
}

span {
  display: flex;
  align-items: center;
}

/*::::: SECTIONS :::::*/
section {
  padding: 3rem 8%;
  /* height: calc(100vh - 76px); */
}

section .section-title {
  padding-bottom: 1.3rem;
}

section .section-title p {
  font-size: 1.1rem;
  color: var(--color-3);
}

section .section-title p::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--color-2);
  margin: 4px 10px;
}

section .section-title h2 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-1);
}

/*:::::::::: TOP HEADER ::::::::::*/
header {
  background: var(--color-0);
  padding: 0.8rem 8%;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items {
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.nav-links a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-3);
  position: relative;
  z-index: 1;
}

.nav-links a:hover {
  color: var(--color-2);
}

.nav-links a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: var(--color-4);
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.nav-links a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  transition: ease-in 0.3s;
}

.nav-btn {
  background: var(--GRADIENT);
  color: var(--color-0);
  border-radius: 4px;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
}

.nav-btn:hover {
  /* color: var(--color-2); */
  background: var(--color-3);
}

/*:::::::::: HERO SECTION ::::::::::*/
#hero {
  background-image: url(../images/hero4.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 76px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#hero::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-content {
  width: 40%;
  z-index: 1;
}

#hero h1 {
  margin: 0;
  color: var(--color-0);
  font-size: 3rem;
  font-weight: 600;
}

#hero p {
  color: var(--color-0);
  font-size: 1rem;
}

.hero-btn {
  margin-top: 1.8rem;
  cursor: pointer;
  position: relative;
}

.get-started {
  background: var(--GRADIENT);
  color: var(--color-0);
  border-radius: 4px;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  position: absolute;
}

.get-started:hover {
  background: transparent;
  border: solid 2px var(--color-2);
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.get-started:focus {
  background: transparent;
  border: solid 2px var(--color-2);
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

/*:::::::::: ABOUT SECTION ::::::::::*/
#about {
  display: flex;
  flex-direction: column;
}

#about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0;
}

#about .about-content > div {
  width: 50%;
  height: 100%;
  flex: 1 0;
}

.about-content-main h3 {
  margin-top: 0.8rem;
  color: var(--color-1);
  font-size: 1.3rem;
}

.about-content-main p {
  color: var(--color-1);
  font-size: 1.1rem;
}

.about-content-main ul {
  position: relative;
  color: var(--color-1);
}

.about-content-main ul li {
  display: flex;
  margin-top: 1.2rem;
  font-size: 1rem;
}

.about-content-main ul li i {
  position: absolute;
  left: 0;
}

.gg-check-r {
  color: var(--color-2);
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-image img {
  width: 100%;
  height: auto;
}

/*:::::::::: COUNTS SECTION ::::::::::*/
#counts {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 8%;
}

#counts .counts-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  width: 100%;
}

#counts .counts-items > div {
  flex: 1;
}

#counts .count-box {
  padding: 1.8rem 1.8rem 1.6rem 1.8rem;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

#counts .count-box .c-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: var(--color-2);
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 2.2rem;
  display: block;
  font-weight: 700;
  color: var(--color-1);
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

/*:::::::::: SERVICES SECTION ::::::::::*/
#services .services-contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
}

.services-contents > div {
  width: 50%;
}

.services-contents .content-heading {
  position: sticky;
  top: 5rem;
  padding: 0;
}

.content-heading .content-details {
  font-size: 1.1rem;
  margin: 0;
}

.services-contents .services-box {
  padding: 0;
}

.services-contents .services-content {
  padding: 1.6rem;
  margin-top: 1.4rem;
  gap: 1.2rem;
  background-color: var(--color-5);
  border-radius: 4px;
}

/* .services-contents .services-content h4 {
   margin: 0;
}

.services-contents .services-content p {
   margin: 0;
} */

/*:::::::::: CTA SECTION ::::::::::*/
#cta {
  background-image: url(../images/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 45vh;
}

#cta::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#cta .cta-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#cta h3 {
  margin: 0;
  color: var(--color-0);
  font-size: 1.6rem;
  font-weight: 600;
}

#cta p {
  color: var(--color-0);
  font-size: 1.1rem;
}

.cta-button {
  margin-top: 2rem;
  cursor: pointer;
}

.cta-btn {
  background: var(--GRADIENT);
  color: var(--color-0);
  border-radius: 4px;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cta-btn:hover,
.cta-btn:focus {
  background: transparent;
  border: solid 2px var(--color-2);
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}

/*:::::::::: F.A.Q SECTION ::::::::::*/
#faq {
  height: auto;
}

.faq-item {
  margin-top: 1rem;
  border: 1px solid #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
}

.faq-item .faq-item-title {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 1.25rem;
  box-sizing: border-box;
}

.faq-item .faq-item-desc {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.1s ease-out;
  font-size: 0.9rem;
  line-height: 1.35rem;
  font-weight: 400;
  color: var(--color-3);
  border-top: 1px dashed var(--color-3);
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.faq-item input[type="checkbox"] {
  position: absolute;
  height: 10px;
  width: 10px;
  opacity: 0;
}

.faq-item input[type="checkbox"]:checked ~ .faq-item-desc {
  max-height: 200px;
  opacity: 1;
  padding: 1rem 1.25rem 1.25rem;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

.faq-item input[type="checkbox"]:checked ~ .faq-item-title .icon:after {
  content: "-";
  font-size: 1.25rem;
}

.faq-item input[type="checkbox"]~.faq-item-title .icon:after {
  content: "+";
  font-size: 1.25rem;
}

/* .faq-item:first-child {
  margin-top: 0;
} */

.faq-item .icon {
  margin-left: 14px;
}


/*:::::::::: MOBILE NAVIGATION ::::::::::*/
.toggle-menu {
  display: none;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--color-2);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/*:::::::::: RESPONSIVENESS ::::::::::*/
@media (max-width: 1025px) {
  header {
    padding: 0.8rem 8%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  section {
    padding: 2.2rem 8%;
    height: 100vh;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 0;
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--color-0);
    transition: all 0.3s ease-in;
    position: absolute;
    top: 70px;
    left: 0;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .nav-links a {
    font-size: 1.6rem;
  }

  .nav-btn {
    display: none;
  }

  .toggle-menu {
    display: block;
  }

  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #hero p {
    font-size: 1.2rem;
  }

  #hero .hero-content {
    width: 100%;
  }

  .hero-btn {
    display: flex;
    justify-content: center;
  }

  #about {
    height: auto;
  }

  #about .about-content {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }

  #about .about-content > div {
    width: 100%;
  }

  .about-content-main h3 {
    font-size: 1.5rem;
  }

  .about-content-main p {
    font-size: 1.2rem;
  }

  .about-content-main ul {
    font-size: 1.1rem;
  }

  #counts {
    height: auto;
  }

  #counts .counts-items > div {
    flex: 1 0 calc(50% - 1.4rem);
    margin: 0.3rem 0.3rem 1.2rem 0.3rem;
  }

  #services {
    height: auto;
  }

  #cta {
    height: auto;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
  }

  #hero p {
    font-size: 18px;
    line-height: 24px;
  }

  #services {
    height: auto;
  }

  #services .services-contents {
    display: block;
  }

  .services-contents .content-heading {
    width: 100%;
    position: relative;
    top: auto;
  }

  .services-contents .services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .services-contents .services-content {
    width: 80%;
  }
}

/* @media (max-width: 360px) {
  #hero {
    height: 100vh;
  }

  section {
    padding: 1.4rem 4%;
    height: 120vh;
  }

   #about {
    height: 100vh;
    font-size: .6rem;
  }

  #counts {
    height: 100vh;
  }
} */

@media (max-width: 560px) {
  #hero {
    height: 90vh;
  }

  section {
    padding: 1.4rem 4%;
    /* height: 100vh; */
  }

  header {
    padding: 0.8rem 4%;
  }

  .nav-links {
    padding: 0 4%;
  }

  #about {
    height: auto;
  }

  #counts {
    height: auto;
    padding-top: 2rem;
  }

  #counts .counts-items > div {
    flex: 1 0 calc(100% - 1.4rem);
    margin: 0.3rem 0.3rem 1.2rem 0.3rem;
  }

  .services-contents .services-content {
    width: 100%;
  }
}
